.app-button {
  @include bold-15;
  padding: 17px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: $accent;
  color: $white;
  transition: 0.3s ease;
  &:hover {
    background-color: linear-gradient(0deg, $accent, $accent),
    linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));    
  }
  &:active:not(.app-button--disabled) {
    background: linear-gradient(0deg, $accent, $accent),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }
  &--disabled {
    background-color: $light-grey-disabled;
    color: $light-grey;
  }
  &__loader {
    padding: 25px 20px;
    display: flex;
  }
  &__loader-item {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 100%;
    background-color: $dark-blue;
    animation: scale 1s ease 0s infinite;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}