.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 0 auto;
  .app-logo {
    cursor: pointer;
  }
  .app-contacts-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    &__support-link {
      text-decoration: none;
      margin-right: 5px;
      color: $light-grey;
      @include regular-15;
    }
    &__support-link:hover {
      color: $dark-blue;
    }
    svg {
      cursor: pointer;
      margin: 0 5px;
      transition: 0.3s ease;
    }
  }
}