.app-price-input {
  height: 30px;
  width: 134px;
  background-color: $background;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  font-family: 'Graphik';
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
}