@mixin h1 {
  font-size: 42px;
  font-family: 'Graphik';
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 20px;
}

@mixin regular-15 {
  font-family: 'Graphik';
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

@mixin regular-12 {
  font-family: 'Graphik';
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

@mixin bold-15 {
  font-family: 'Graphik';
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}