@import './variables/colors.scss';

@import './mixins/font-mixins.scss';

@import './base.scss';

@import './pages/login-page.scss';
@import './pages/products-page.scss';

@import './components/header.scss';
@import './components/login-form.scss';
@import './components/input-field.scss';
@import './components/button.scss';
@import './components/checkbox.scss';
@import './components/products-header.scss';
@import './components/products-panel.scss';
@import './components/products-grid.scss';
@import './components/product.scss';



@font-face {
  font-family: 'Graphik';
  src: url('../fonts/GraphikLCG-Regular.ttf');
}

#app {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}

